name: Check YAML Formatting

on:
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.yaml"
  push:
    branches: [main]
    paths:
      - "**/*.yml"
      - "**/*.yaml"

permissions:
  contents: read

jobs:
  yaml-format:
    name: Check YAML Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417  # v6.3.0
        with:
          go-version-file: go.mod
          cache: false
      - run: make lint/yaml
