name: Check GitHub Actions

on:
  pull_request:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
      - ".github/actions/**/action.yml"
      - ".github/actions/**/action.yaml"
  push:
    branches: [main]
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
      - ".github/actions/**/action.yml"
      - ".github/actions/**/action.yaml"

permissions:
  contents: read

jobs:
  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417  # v6.3.0
        with:
          go-version-file: go.mod
          cache: false
      - run: make lint/action
